body {
  margin-left: 1em;
  margin-right: 1em;
}

#sidebar {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 16em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#site {
	margin: 3em auto 2em auto;
	line-height: 1.5em;
}

.title {
	color: #369;
	font-weight: bold;
	margin-bottom: 2em;
}

#site .title a {
	color: #369;
	text-decoration: none;
}

#site .title a:hover {
	color: black;
}

#site .meta {
	color: #aaa;
}

#site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

#site .footer .contact {
	float: left;
	margin-right: 3em;
}

#site .footer .contact a,
.site .footer .rss a {
	color: #8085C1;
}

#site .footer .rss {
	margin-top: 1.1em;
	margin-right: 0em;
	float: right;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-size: 80%;
}

ul.posts a {
	text-align: left;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

/* <code> includes inline keywords, pre is the wrapper around blocks of syntax highlighted <code> */

#post p code {
  padding: 0px 0.2em;
  font-size: 95%;
}

#post pre {
  margin: 1em 0px;
  padding: 0.8em;
  font-size: 70%;
  border-radius: 0.3em;
  border: 1px solid #e5e5e5;
}

#post pre,
#post p code {
  background: #f7f7f7;
}


#post ul,
#post ol {
	margin-left: 1.35em;
}

  /* terminal */

#post pre.terminal {
	border: 1px solid black;
	background-color: #333;
	color: white;
}

#post pre.terminal code {
	background-color: #333;
}

#related {
	margin-top: 2em;
}

#related h2 {
	margin-bottom: 1em;
}
