---
layout: default
---

<div class="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
  {% for post in site.posts %}
  <li><span>{{ post.date | date_to_string }}</span> <span class="seperator">~</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>

<blockquote class="twitter-tweet" lang="en"><p>Love this: the Fourier Transform explained in one sentence by Stuart Riffle. <a href="https://twitter.com/hashtag/math?src=hash">#math</a> <a href="http://t.co/jewUoB3s6a">http://t.co/jewUoB3s6a</a> <a href="http://t.co/r5dYXn0gWG">pic.twitter.com/r5dYXn0gWG</a></p>&mdash; Tim Janik (@TimJanik) <a href="https://twitter.com/TimJanik/status/526729384041140224">October 27, 2014</a></blockquote>

<div id="sidebar" style="position:absolute;top:1em;right:1em;width:16em">
{% include twitter.html %}
</div>

<div id="em" style="width:1em;visibility=hidden"></div>
<script>
  (function() {
    function getElId(id) {
      return document.getElementById(id);
    }
    var currentLayout;
    var body = document.body;
    var site = getElId('site');
    var sidebar = getElId('sidebar');
    var em = getElId('em');
    function resize() {
      var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      var empx = em.clientWidth || 16;
      w = w/empx;
      if (w >= 52 && currentLayout != "big") {
        body.style['margin-right'] = '18em';
        site.style['width'] = '33em';
        sidebar.style['display'] = 'block';
        currentLayout = "big";
      }
      if (w >= 33 && w < 52 && currentLayout != "medium") {
        body.style['margin-right'] = '1em';
        site.style['width'] = '33em';
        sidebar.style['display'] = 'none';
        currentLayout = "medium";
      }
      if (w < 33 && currentLayout != "small") {
        body.style['margin-right'] = '1em';
        site.style['width'] = '100%';
        sidebar.style['display'] = 'none';
        currentLayout = "small";
      }
    }
    resize();
    var timer;
    function adjust() {
      clearTimeout(timer);
      timer = setTimeout(resize, 16);
    }
    if (window.addEventListener) {
      window.addEventListener('resize', adjust, false);
    } else if (window.attachEvent) {
      window.attachEvent('onresize', adjust);
    }
  })();
</script>
